<header class="header">
    <div class="logo">
        <h1 id=""heading-h1><a href="/">The Good News Page</a></h1>
    </div>
    <nav class="nav-bar">
        <a href="/UserNews">User News</a>
        <a href="/logIN">Log In</a>
        <a href="/UserNewsAdd">Add News </a>
    </nav>
</header>