<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/stylesheet.css" rel="stylesheet">
        <title>Head Line Story</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>


    <body>

        <!-- Header Section to store Logo, Nav bar and Log In -->
        <header class="header">
            <div class="logo">
                <h1 id="heading-h1">The Good News Page</h1>
            </div>
            <nav class="nav-bar">
                <a href="/UserNews">User News</a>
                <a href="#latest-news">Latest News</a>
                <a href="#top-stories-id">Top Stories</a>
                <a href="#from-your-interest-id">From your Interests</a>
                <a href="/logIn">Log In</a>
                <a href="/UserNewsAdd">Add News</a>
            </nav>
        </header>
    
        <main>
            <div class="usb">
                <h2>Create Post</h2>
            </div>
            <div class="form">          
                <form action="/UserNews" method="POST">
                    <p>
                        <label for="Title">Title of the Post</label>
                        <input type="text" name="title_of_post" id="Title" required>
                    </p>
                    <p>
                        <label for="content">Create Content</label>
                        <textarea id="content" name="content" rows="10" cols="50" required>
                        </textarea>
                    </p>
                    <p>
                        <label for="auth">Secret Code:</label>
                        <input type="password" name="auth" id="auth" required>
                    </p>
                    <p>
                        <button type="submit">Send your Article</button>
                    </p>
                </form>
            </div>
            
        </main>
    </body>
</html>