<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/stylesheet.css" rel="stylesheet">
        <title>News from the Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
    <body>
            <!-- Header Section to store Logo, Nav bar and Log In -->
        <header class="header">
            <div class="logo">
                <h1 id="heading-h1"><a href="./HomePage.html">The Good News Page</a></h1>
            </div>
            <nav class="nav-bar">
                <a href="./UserNews.html">User News</a>
                <a href="#latest-news">Latest News</a>
                <a href="#top-stories-id">Top Stories</a>
                <a href="#from-your-interest-id">From your Interests</a>
                <a href="./logIn.html">Log In</a>
                <a href="./UserNewsAdd.html">Add News</a>
            </nav>
        </header>
        <main>
            <!-- Styling has to be made, but as this page is gonna be deleted anyway I wont spend time on it -->
            <h1>Here are the News the User can add </h1>
            <ul>
                <li>Here should be the User generated News link to another page </li>
            </ul>
        </main>
    </body>
</html>
