<!DOCTYPE html>
<html>
    <head>
        <link href="../stylesheet.css" rel="stylesheet">
        <title>Head Line Story</title>
    </head>


    <body>

        <!-- Header Section to store Logo, Nav bar and Log In -->
        <header class="header">
            <div class="logo">
                <h1 id="heading-h1"><a href="./HomePage.html">The Good News Page</a></h1>
            </div>
            <nav class="nav-bar">
                <a href="#latest-news">Latest News</a>
                <a href="#top-stories-id">Top Stories</a>
                <a href="#from-your-interest-id">From your Interests</a>
                <a href="./logIn.html">Log In</a>
                <a href="./UserNewsAdd.html">Add News</a>
            </nav>
        </header>
    
        <main>
            <div class="usb">
                <h2>Create Post</h2>
            </div>
            <div class="form">           <!--Here Comes Form for TItle-->
                <form action="/example.html" method="POST">
                    <label for="Title">Title of the Post</label>
                    <br>
                    <input type="text" name="title_of_post" id="Title">
                    <br>
                <!--Here comes the Form for the Content-->
                    <label for="content">Create Content</label>
                    <br>
                    <textarea id="content" name="content" rows="10" cols="50">
                    </textarea>
                    <!-- Here COmes Submit Button-->
                    <input type="submit" value="Send">
                </form>
            </div>
            
             
           
            <!-- Maybe add Name Date Verification something -->
        </main>