<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/stylesheet.css" rel="stylesheet">
        <title>Head Line Story</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>


    <body>

        <!-- Header Section to store Logo, Nav bar and Log In -->
        <header class="header">
            <div class="logo">
                <h1 id="heading-h1"><a href="./HomePage.html">The Good News Page</a></h1>
            </div>
            <nav class="nav-bar">
                <a href="#latest-news">Latest News</a>
                <a href="#top-stories-id">Top Stories</a>
                <a href="#from-your-interest-id">From your Interests</a>
                <a href="./logIn.html">Log In</a>
                <a href="./UserNewsAdd.html">Add News</a>
            </nav>
        </header>
    
        <main>
            <div class="usb">
                <h2>Create Post</h2>
            </div>
            <div class="form">           <!--Here Comes Form for TItle-->
                <form action="/UserNews" method="POST">
                    <p>
                        <label for="Title">Title of the Post</label>
                        <input type="text" name="title_of_post" id="Title" required>
                    </p>
                <!--Here comes the Form for the Content-->
                    <p>
                        <label for="content">Create Content</label>
                        <textarea id="content" name="content" rows="10" cols="50" required>
                        </textarea>
                    </p>
                    <p>
                    <!-- Here COmes Submit Button-->
                        <button type="submit">Send your Article</button>
                    </p>
                </form>
            </div>
            
             
           
            <!-- Maybe add Name Date Verification something -->
        </main>
    </body>
</html>